/* ОСНОВНЫЕ НАСТРЙКИ ХЕРО---------------------------------------------  */
.hero {
    background-image: url('../images/image1.jpg');
    background-size: cover;
    height: 707px;
    padding-top: 150px;
    position: relative;
}
.hero-container {
    position: relative;
    z-index: 1;
}
.hero-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}
/* ОСНОВНЫЕ НАСТРОЙКИ ХЕРО---------------------------------------------  */




/* ТЕКСТ---------------------------------------------  */
.rostov {
    color: #E3B873;
}
.title {
    margin: 0px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: white;
}
.title2 {
    color: white;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
    line-height: 36px;
    font-size: 22px;
}
/* ТЕКСТ--------------------------------------------- */





/* ДВЕ КНОПКИ ПОД ТЕКСТОМ---------------------------------------------  */
.buttons {
    display: flex;                     
    flex-direction: row;                
}
.main-button__1 {
    background: #E3B873;               
    border-radius: 2px;                  
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    padding: 20px 41px;               
    color: white;                  
    border: none;                   
}
.main-button__2 {
    background: none;               
    border-radius: 2px;             
    padding: 19px 41px;             
    color: white;                 
    border: 1px solid white;
    margin-left: 20px;             
}

button:hover {
    cursor: pointer;               
    background-color: #ffffff;   
    border: none;                 
    color: black;              
}
button:active {                  
    background-color: #d5d5d5;
    color: #000000;           
}
/* ДВЕ КНОПКИ ПОД ТЕКСТОМ---------------------------------------------  */





/* ВТОРАЯ СЕКЦИЯ ////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////// */

.section__2 {
    width: inherit;;
    height: 1070px;
    background-color: #131313;
}

.black-container {
    display: flex;
    width: 100%;
    height: 1000px;
    background: none;
    padding-top: 100px;
    flex-direction: row;

}

.p_text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}

.section2_title2 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 34px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
}

.text_block {
    width: 440px;
}

.example-1 {
    display: grid;
    grid-template-columns: 250px 200px;
    grid-template-rows: 140px 100px;
    width: 100%;
    padding: 0;
 }

 .example-1-item {
     width: 40%;
     height: 100px;
 }

 .div__h2 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 138.6%;
    text-transform: uppercase;
    color: #E3B873;
 }

 .div__p {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;

    color: #FFFFFF;
 }

.vector__sector2 {
    display: flex;
    justify-content: space-around;
    width: 200px;
    margin-top: 81px;
}

.vector__img:hover {
    cursor: pointer;;
}

/* Второй блок второй секции --------------------- */
.izo__links {
    margin-left: 120px;
}

.div__links {
    margin-bottom: 20px;
}

.section2__links {
    font-family: 'Yeseva One';
    font-weight: 400;
    font-style: normal;
    line-height: 19px;
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
    margin-right: 60px;
    
}
.section2__links:hover {
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
    padding-bottom: 6px;
}

.izo__fon {
    display: none;
}


/* ТРЕТЬЯ СЕКЦИЯ ////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////// */

.section__3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: inherit;
    height: 700px;

}

.section3__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 817px;
    height: 924px;

    position: absolute;
    top: 1660px;
    margin: 0 auto;

}

.section3__img__div {
    display: flex;
    justify-content: space-around;
    width: 100px;

}

.section3__img__rem__div {
    margin-top: 31px;
    background-color: #000000;
    width: 817px;
    height: 434px;
    position: relative;


}

.img__rem {
    opacity: 0.3;
}

.play__rem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 85px;
    background-color: #E3B873;
    border-radius: 50%;
    position: absolute;
    top: 174px;
    left: 365px;
}

.play__rem:hover {
    background-color: #000000;
    cursor: pointer;
}

.title__section3 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 138.6%;
    /* or 30px */
    
    text-align: center;
    text-transform: uppercase;
    
    color: #FFFFFF;
    
}

.poloska__div {
    margin-top: 20px;
}

.text__div {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    margin: 20px 68px;
    color: #363636;
}

.inputs__div {
    width: inherit;
    display: flex;

}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  .custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #E3B873;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  .custom-checkbox:checked+label::before {
    border-color: #E3B873;
    background-color: #E3B873;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    
  }



.flex__div {
    width: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    height: 90px;
    /* border: 2px solid rebeccapurple; */
}
.button__div {
    width: 200px;
    height: 51px;
    align-self: center;
}

.main-button__rem {
    background: #E3B873;
    border-radius: 2px;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    padding: 20px 41px;
    color: white;
    border: none;
    width: inherit;
    height: inherit;

}

.main-button__rem:hover {
    background: #dadada;
}

.main-button__rem:active {
    background: #ffffff;
    border: 1px solid rgb(228, 228, 228);
}

.inputs {
    height: 31px;
    background-color: #ffffff;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    width: 231px;
    margin-top: 0px;
    color: #E3B873;
   
    
}

.p__inputs {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 13px;

}

.two__input {
    margin-left: 58px;
}

.checkbox__div {
    display: none;
}

.checkbox__div2 {
    margin-top: 39px;
}




/* ЧЕТВЕРТАЯ СЕКЦИЯ /////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////// */

.section4__block {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    height: 1070px;
    width: auto;


}

.vector__s4 {
    align-items: center;
    display: flex;
    margin-bottom: 60px;
}

.vector__img__s4 {
    margin: 0 13px;
}


.title__s4 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;

    color: #181818;
}

.flex__s4 {
    display: flex;
}

.flex__s4__self {
    margin: 0 30px;
}

.flex__s4__self {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 554px;

}

.div__s4__cube {
    width: 330px;
    height: 286px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: 1px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    

}

.h3__s4 {
    font-family: 'Yeseva One';
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
    font-size: 18px;

    color: #363636;
}

.spisok__s4 {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
    font-family: 'Nunito Sans';


}

.h3__spisok__div {
    margin-left: 34px;
}

.div__s4__rur {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    width: 228px;
    height: 54px;
    z-index: 2;
}

.from__900 {
    font-family: 'Yeseva One';
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* ПЯТАЯ СЕКЦИЯ /////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////// */


.s5__block__line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 509px;
    width: 100%;
}

.s5__left__block {
    background-image: url('../images/gorod.png');
    height: inherit;
    width: 645px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;

}

.s5__right__block {
    background-color: #131313;
    width: 506px;
    height: inherit;
}

.circle {
    min-width: 41px;
    min-height: 41px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: rgb(227, 184, 115);
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;

    color: #FFFFFF;

    outline: 10px solid #f2f1f1;
}

.title__s5 {
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
    line-height: 19px;
    font-size: 14px;
    color: #363636;
    margin-left: 18px;
}

.flex__circle__h5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 417px;
    /* outline: 1px solid red; */
    padding-right: 50px;
}

.gender {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 517px;
    height: 517px;
}

.s5__pig__text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 455px;
    align-items: center;

    padding-right: 50px;
    padding-top: 20px;
}

.circle__pig {
    width: 72px;
    height: 72px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    background: rgb(227, 184, 115);
    display: flex;
    justify-content: center;
    align-items: center;

}

.flex__pig {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;


}

.title__s5__pig {
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
    line-height: 26px;
    font-size: 18px;
    color: #E3B873;
    margin-left: 25px;
}

.title__right__block {
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
    line-height: 26px;
    font-size: 18px;
    /* outline: 1px solid blue; */
    text-align: center;
    max-width: 267px;
    color: #FFFFFF;
    padding: 0 20px;
}

.divs__right__block {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    /* outline: 1px solid red; */
    width: 390px;
}

.input__s5 {
    width: inherit;
}

.input__type {
    width: 100%;
    height: 31px;
    background-color: #131313;
    border: none;
    border-bottom: 1px solid gray;
    /* outline: 1px solid yellow; */
    color: #E3B873;
}

.s5__right__block {
    display: flex;
    justify-content: center;
}

.black__p {
    /* outline: 1px solid green; */
    color: #FFFFFF;
    margin: 0;
    margin-top: 39px;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
    line-height: 21px;
    font-size: 13px;
}

.checkbox__span {
    color: #FFFFFF;
}

.dop__checkbox {
    margin-top: 16px;
}

.button__black {
    margin-top: 20px;
    align-self: flex-end;
    max-width: 214px;
}

.button__black2 {
    width: 213px;

    background: #E3B873;
    border: none;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    font-style: normal;
    font-family: 'Nunito Sans';
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    line-height: 21px;
    
    text-transform: uppercase;
    padding: 19px 21px;
    color: #FFFFFF;
}

/* ШЕСТАЯ СЕКЦИЯ /////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////// */
.section__6 {
    height: 1017px;
    position: relative;
}


.opacity__fon {
    width: inherit;
    height: inherit;
    background-color: rgba(0, 0, 0, .7);
    opacity: 0.5;
}


.s6__mono__div {
    width: inherit;
    height: 864px;
    background-color: black;
    margin-top: 142px;
    position: relative;
    top: 112px;
}

.mono__img {
    width: 100%;
    height: inherit;
    opacity: 0.3;
}

.s6__img__div1 {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.s6__div1__img1 {
    margin-bottom: 39px;
}

.s6__img__div2 {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.s6__div1__img2 {
    margin-top: 39px;
}

.kartinki {
    position: absolute;
    right: 16%;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 751px;
    height: inherit;
    
}

.s6__h1__links__div {
    width: 299px;
    height: 516px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 10%;
    bottom: 30%;
}

.title1__s6 {
    font-family: 'Yeseva One';
    font-weight: 400;
    font-style: normal;
    line-height: 37px;
    font-size: 27px;
    
    text-transform: uppercase;
    color: #E3B873;
}

.s6__links {
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
    line-height: 38px;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    margin: 3px 0;

}

.s6__links:hover {
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
    padding-bottom: 1px;

}

.s6__links__div {
    margin: 5px 0;
}

.title__media {
    display: none;
}

/* СЕДЬМАЯ СЕКЦИЯ /////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////// */

.section__7 {
    height: 1065px;
    width: auto;
    /* outline: 4px solid rgb(6, 0, 174); */
    padding-top: 69px;
    background-image: url('../images/s7__fon.jpg');
    background-repeat: repeat-x;
    background-position: bottom;

}


.s7__block {
    /* outline: 1px solid red; */
    height: 642px;

}

.s7__block__top {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* outline: 1px solid rgb(46, 163, 4); */
    height: 148px;
}

.s7__h1 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    /* outline: 1px solid rgb(108, 116, 0); */
    color: #181818;
}

.s7__vector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* outline: 1px solid rgb(43, 4, 163); */
    width: 180px;
    margin-bottom: 25px;
    margin-top: 10px;
}

.s7__text {
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
    line-height: 29px;
    font-size: 18px;
    max-width: 410px;
    text-align: center;
    /* outline: 1px solid rgb(255, 0, 230); */
    color: #363636;
}

.s7__block__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 69px;
    /* outline: 1px solid rgb(34, 255, 0); */
    height: 450px;
    position: relative;

}

.bottom__divs {
    background-color: #ffffff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
    width: 376px;
    height: 428px;
    /* outline: 1px solid rgb(4, 84, 80); */
    display: flex;
    justify-content: center;
    align-items: center;
   

}

.bottom__into {
    width: 324px;
    /* outline: 1px solid black; */
    height: 400px;
    
}

.ava__text {
    width: inherit;
    height: 100px;
    /* outline: 1px solid rgb(226, 15, 173); */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.s7__titile__h3 {
    font-family: 'Yeseva One';
    font-weight: 400;
    font-style: normal;
    line-height: 23px;
    font-size: 18px;

    width: 150px;
    color: #181818;
    margin-right: 60px;
}

.ava {
    border-radius: 50%;
    margin-left: 0;
}

.sam__otziv {
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
    line-height: 180%;
    font-size: 13px;
    /* or 23px */


    color: #959595;
}

.otziv__days__div {
    width: 293px;
    height: 54px;
    background-color: #E3B873;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.otziv__days__left {
    width: auto;
    /* outline: 1px solid red; */
    border-right: 1px solid #FFFFFF;
    height: inherit;
    width: 50%;
}

.outline__divs {
    /* background-color: aquamarine; */
    position: relative;
}

.otziv__days__right {
    width: 50%;
    /* outline: 1px solid rgb(102, 255, 0); */
    height: inherit;
}

.otziv__days__left, .otziv__days__right {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.m2__40 {
    font-family: 'Yeseva One';
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    font-size: 17px;
    
    text-transform: uppercase;
    color: #FFFFFF;

    margin-right: 13px;
}

/* ВОСЬМАЯ СЕКЦИЯ /////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////// */

.section__8 {
    background-image: url('../images/s8__fon.png');
    height: 953px;
    display: flex;
    justify-content: center;
    position: relative;


}

.section8__div {
    width: 850px;
    height: 1120px;
    /* outline: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    position: relative;
    bottom: 222px;

}


.s8__inputs__fon__div {
    width: 855px;
    height: 465px;
    background-color: #131313;
    /* outline: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.s8__inputs__div {
    width: 520px;
    height: 376px;

    display: flex;
    flex-direction: column;
}

.checkbox__span {
    font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 163.68%;
/* or 23px */


color: #FFFFFF;
}

.s8__title__h1 {
    font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}

.s8__log__pass__div__doth {
    outline: 1px solid rgb(0, 0, 0) ;
    display: flex;
    justify-content: space-between;
}


.input__s8 {
    background-color: #131313;
    width: 231px;
    height: 31px;
    border: none;
    border-bottom: 1px solid #959595;
    color: #E3B873;
}

.input__s8__q {
    background-color: #131313;
    width: 100%;
    height: 31px;
    border: none;
    border-bottom: 1px solid #959595;
    color: #E3B873;
}

.s8__checkbox__div {
    align-self: center;
    margin-top: 33px;
}

.s8__button__div {
    align-self: center;
    margin-top: 20px;
}

.s8__button {
    width: 200px;
    background: #E3B873;
    border: none;
    box-shadow: 0px 5px 15px rgb(227 184 115 / 15%);
    font-style: normal;
    font-family: 'Nunito Sans';
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    line-height: 21px;
    text-transform: uppercase;
    padding: 19px 21px;
    color: #FFFFFF;
}


/* */
/*  */
/*  */




.s8__title {
    max-width: 589px;
}

.s8__h1 {
    font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
text-align: center;
text-transform: uppercase;

color: #E3B873;
}

.s8__icons {
    display: flex;
    justify-content: space-between;
    width: 71px;
    margin-bottom: 20px;
}

.s8__icon__1, .s8__icon__2 {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #E3B873;

    display: flex;
    justify-content: center;
    align-items: center;

}

.s8__overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .85);

}