@font-face {
    font-family: Yeseva One;
    src: url(../fonts/Yeseva_One/YesevaOne-Regular.ttf);
}

@font-face {
    font-family: Nunito Sans;
    src: url(../fonts/Nunito_Sans/NunitoSans-Regular.ttf);
}

@media screen and (max-width: 768px) {
  
    .title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 132.83%;
    /* or 31px */
    text-transform: uppercase;
    color: #FFFFFF;
}


    .title2 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 135.84%;
    /* or 19px */


    color: #FFFFFF;
    }

    .header-navigation, .button_call {
      display: none;
    }
   
    .header-link__tel {
      color: #ffffff;
      margin-right: 20px;
      text-decoration: none;
      font-size: 11px;
  }
  
  .logo {
      margin-left: 30px;
      font-size: 11px;
  }
  
  .hero-container {
      margin-left: 30px;
  }
  
.hero {
    height: 476px;
}

  .main-button__1 {
      width: 93%;
      margin: 10px 0;
  }
  
  .main-button__2 {
      margin-top: 15px;
      margin-left: 0;
      width: 93%;
  }
  
  .buttons {
      display: flex;
      flex-direction: column;
      /* justify-content: space-between; */
  }
  .izo_links {
    background-color: #E3B873;

    width: 340;
    height: 241px;
    position: absolute;
    top: 300px;
    left: 20%;
    right: 20%;
}

.izo_links_links {
    display: none;

}

.izo__fon {
    background-image: url('../images/image 2.png');
    width: 340px;
    height: 241px;
    margin: 36px auto;
    order: 1;
    display: flex;
}

.strelki_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}

.strelka {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #E3B873;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.section2_title2 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 34px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    text-align: center;
    
}
  
.p_text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 158.48%;
    margin: 0 30px;

    text-align: center;

    color: #FFFFFF;
}

.text_block {
    text-align: center;
    /* background-color: aquamarine; */

    width: auto;
    display: flex;
    flex-direction: column;
}
  

  .black-container {
      padding-top: 37px;

      
      
  }

  .section__2 {
      position: relative;
  }


  .section2_img {
      display: none;

  }




  .example-1 {
    display: flex; 
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    order: 2;
    margin-right: 30px;

 }
 .example-1-item {
     width: 40%;
     height: 100px;
     margin: 2px;
    
 }

 .div__h2 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 138.6%;
    /* or 19px */
    
    text-transform: uppercase;
    
    color: #E3B873;
    
 }

 .div__p {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    
    color: #FFFFFF;
 }

 .izo__links {
    display: none;
}

.vector__sector2 {
    display: none;
}



}