@font-face {
    font-family: Yeseva One;
    src: url(../fonts/Yeseva_One/YesevaOne-Regular.ttf);
}

@font-face {
    font-family: Nunito Sans;
    src: url(../fonts/Nunito_Sans/NunitoSans-Regular.ttf);
}

@media screen and (max-width: 1350px)
{

    .s6__h1__links__div {
        display: none;
    }

}

@media screen and (max-width: 1240px)
{
    .izo {
        display: none;
    }

}


@media screen and (max-width: 768px) 

{
.title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 132.83%;
    text-transform: uppercase;
    color: #FFFFFF;
}


.title2 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 135.84%;
    color: #FFFFFF;
    }

.header-navigation, .button_call {
    display: none;
    }
   
.header-link__tel {
    color: #ffffff;
    margin-right: 20px;
    text-decoration: none;
    font-size: 11px;
  }
  
.logo {
    margin-left: 30px;
    font-size: 11px;
  }
  
.hero-container {
    margin-left: 30px;
  }
  
.hero {
    height: 476px;
}

.main-button__1 {
    width: 93%;
    margin: 10px 0;
  }
  
.main-button__2 {
    margin-top: 15px;
    margin-left: 0;
    width: 93%;
  }
  
.buttons {
    display: flex;
    flex-direction: column;
      
  }
.izo_links {
    background-color: #E3B873;
    width: 340;
    height: 241px;
    position: absolute;
    top: 300px;
    left: 20%;
    right: 20%;
}

.izo_links_links {
    display: none;

}

.izo__fon {
    background-image: url('../images/image 2.png');
    width: 340px;
    height: 241px;
    margin: 36px auto;
    order: 1;
    display: flex;
}

.strelki_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}

.strelka {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #E3B873;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.section2_title2 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 34px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    text-align: center;
    
}
  
.p_text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 158.48%;
    margin: 0 30px;
    text-align: center;
    color: #FFFFFF;
}

.text_block {
    text-align: center;
    width: auto;
    display: flex;
    flex-direction: column;
}
  

.black-container {
    padding-top: 37px;

      
      
  }

.section__2 {
    position: relative;
    height: 727px;

  }


.section2_img {
    display: none;

  }

.example-1 {
    display: flex; 
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    order: 2;
    margin-right: 30px;

 }
 .example-1-item {
     width: 40%;
     height: 100px;
     margin: 2px;
    
 }

 .div__h2 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 138.6%;

    text-transform: uppercase;
    color: #E3B873;
    
 }

 .div__p {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    color: #FFFFFF;
 }

 .izo__links {
    display: none;
}

.vector__sector2 {
    display: none;
}

.section3__block {
    position: static;
    width: 100%;
    background-color: #131313;
    margin: 0;
    height: 900px;

}



.section3__img__rem__div {
    display: flex;
    width: 340px;
    margin: 0 auto;
    height: 207px;
    margin: 0 17px;
    margin-top: 31px;
}

.img__rem {
    width: inherit
}

.play__rem {
    top: 85px;
    left: 152px;
    opacity: 1;
    width: 37px;
    height: 37px;
}

.start__rem {
    width: 12px;
    height: 12px;
}


.text__div {
    margin: 21px 17px;
    font-size: 11px;
    color: #FFFFFF;
}

.inputs__div {
    display: flex;
    flex-direction: column;
    align-self: flex-start;

    width: 100%;
    margin: 0 17px;


    
}

.inputs {
    height: 31px;
    background-color: #131313;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 92%;
    margin-top: 0px;
    color: #E3B873;
   
    
}



.p__inputs {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 13px;

}


.checkbox__div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 93%;
    background-color: #131313;
    color: #FFFFFF;
    margin-top: 28px;

    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
    line-height: 163.68%;
    font-size: 14px;
    /* or 23px */
    
    margin: 17px 17px;
    margin-bottom: 37px;
    color: #FFFFFF;
    
}

.one__input {
    margin-bottom: 63px;
}

.two__input {
    margin-left: 0px;
}





.main-button__rem {
    width: inherit;
    margin-top: 620px;
    margin: 0 17px;

    
}
.button__div {
    order: 30;
    width: 95%;
    align-self: auto;
}

.flex__div {
    display: flex;
    flex-direction: column;
    width: inherit;

}

.checkbox__div2 {
    display: none;
}

/* секция 4 */

.section4__block {
    margin-top: 270px;

}


.flex__s4 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.flex__s4__self {
    margin-bottom: 80px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.vector__s4 {
    margin-bottom: 40px;
}

.div__s4__cube, .flex__s4__self {
    align-self: flex-start;
}



/* секция 5-6 */

.section__5 {
    display: none;
}

.section__6 {
    height: 239px;
}

.s6__mono__div, .kartinki, .s6__h1__links__div {
    display: none;
}

.title__media {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1000px;


}

.title1__s6 {
    align-self: center;
    max-width: 300px;
    display: flex;
    justify-content: center;

}

.media__div__img {
    max-width: 340px;
   width: 340px;
    height: 242px;

    display: flex;
    align-items: center;

    background-image: url('../images/media__fon.png');
}

.footer {
    height: 500px;

}

section {
    width: 100%;
}

/* s7 */

.section__7 {
    background-color: #131313;
    width: auto;
    outline: none;
    padding-top: 0;
    background-image: none;

    height: 631px;
}

.s7__block {
    display: none;
}

.section__8 {

    height: 620px;
    background-color: #E3B873;
}

.section8__div {
    position: relative;
    bottom: 508px;
}

.s8__inputs__fon__div {
    flex-direction: column;
    max-width: 375px;

    
}

.s8__inputs__div {
    width: 350px;
}

.input__s8, .input__s8__q {
    width: 339px;
}

.s8__log__pass__div__doth {
    flex-direction: column;
}


.s8__title {
    order: 3;
    max-width: 320px;
}

.s8__icons {
    order: 4;
    margin-bottom: 50px;
}

.s8__button__div {
    margin-top: 0;
}

.karta {
    width: 340px;
    height: 340px;
    order: 2;
    margin-top: 45px;
}


footer {
    display: none;
}



}
